# Konfigurasi project data mining
DEFAULT_API_URL=https://api-sp2kp.kemendag.go.id/report/api/hnt/history-series
DEFAULT_START_DATE=2023-01-23
DEFAULT_END_DATE=2026-04-22
DEFAULT_VARIANT_ID=2
DEFAULT_DATA_PATH=data/raw/hnt_cabai_merah_keriting.csv
DEFAULT_RAW_OUTPUT=data/raw/hnt_cabai_merah_keriting.csv
DEFAULT_ARTIFACT_DIR=artifacts
DEFAULT_EXPERIMENT_NAME=data_mining_experiment
DEFAULT_TARGET_COLUMN=harga
DEFAULT_MLFLOW_TRACKING_URI=
